
<h1>Contact Me</h1>
<form>
    <label for="fname">Name</label><br>
    <input type="text"><br>
    <label for="message">Message</label> <br>
    <textarea id="subject" name="subject" style="height:200px"></textarea>
    <input type="submit" value="Submit">
</form>
